<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_Zanox>
            <version>1.0.0.1</version>
        </MageProfis_Zanox>
    </modules>
    <global>
        <helpers>
            <zanox>
                <class>MageProfis_Zanox_Helper</class>
            </zanox>
        </helpers>
		<blocks>
			<zanox>
				<class>MageProfis_Zanox_Block</class>
			</zanox>
		</blocks>
    <resources>
        <zanox_setup>
            <setup>
                <module>MageProfis_Zanox</module>
                <class>MageProfis_Zanox_Model_Resource_Setup</class>
            </setup>
        </zanox_setup>
    </resources>
    </global>
    <frontend>
          <layout>
                <updates>
                      <zanox>
                            <file>MageProfis_Zanox.xml</file>
                      </zanox>
                </updates>
          </layout>
    </frontend>
  <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zanox>
                                            <title>Zanox</title>
                                        </zanox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MageProfis_Zanox>
                    <files>
                        <default>MageProfis_Zanox.csv</default>
                    </files>
                </MageProfis_Zanox>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <zanox>
            <general>
                <master_home>Bitte Mastertag fuer die Startseite eintragen</master_home>
                <master_cat>Bitte Mastertag fuer die Kategorieseite eintragen</master_cat>
                <master_product>Bitte Mastertag fuer die Produktseite eintragen</master_product>
                <master_search>Bitte Mastertag fuer die Suchseite eintragen</master_search>
                <master_cart>Bitte Mastertag fuer die Warenkorbseite eintragen</master_cart>
                <master_checkout>Bitte Mastertag fuer die Checkoutseite eintragen</master_checkout>
                <sales_success>Bitte Mastertag fuer die Successseite eintragen</sales_success>

            </general>
        </zanox>
    </default>
</config>
